<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
    "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>AudioServerPlugIn_LoadingConditions</key>
    <dict>
        <key>IOService Matching</key>
        <array>
            <dict>
                <key>IOProviderClass</key>
                <string>IOUSBHostDevice</string>
                <key>idVendor</key>
                <integer>6092</integer>
                <key>idProduct</key>
                <integer>6520</integer>
            </dict>
        </array>
    </dict>
    <key>AudioServerPlugIn_IOKitUserClients</key>
    <array>
        <string>AppleUSBHostDeviceUserClient</string>
        <string>AppleUSBHostInterfaceUserClient</string>
    </array>
    <key>CFBundleDevelopmentRegion</key>
    <string>English</string>
    <key>CFBundleExecutable</key>
    <string>OpenA8DJHAL</string>
    <key>CFBundleIdentifier</key>
    <string>org.opena8dj.driver.hal</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleName</key>
    <string>Open Audio 8 DJ</string>
    <key>CFBundlePackageType</key>
    <string>BNDL</string>
    <key>CFBundleSignature</key>
    <string>BNDL</string>
    <key>CFBundleShortVersionString</key>
    <string>0.2.4</string>
    <key>CFBundleSupportedPlatforms</key>
    <array>
        <string>MacOSX</string>
    </array>
    <key>CFBundleVersion</key>
    <string>6</string>
    <key>LSMinimumSystemVersion</key>
    <string>13.0</string>
    <key>CFPlugInFactories</key>
    <dict>
        <key>CB5E4517-5F0A-4E3C-A201-5E7DD4A8D3A8</key>
        <string>OpenA8DJ_Create</string>
    </dict>
    <key>CFPlugInTypes</key>
    <dict>
        <key>443ABAB8-E7B3-491A-B985-BEB9187030DB</key>
        <array>
            <string>CB5E4517-5F0A-4E3C-A201-5E7DD4A8D3A8</string>
        </array>
    </dict>
</dict>
</plist>
